
html {
  height: 100%;
}
body {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: #101010;
}
#terminal {
  display: block;
  position: fixed;
  top: 80px;
  bottom: 5%;
  width: 100%;
}

#connection-panel {
  background: transparent;
}

#clientConnectButton {
  position:fixed;
  background-color: rgb(51,105,232);
  border: none;
  border-radius: 8px;
  width: 160px;
  height: 50px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  left: 15px;
  top: 15px;
  cursor: pointer;
}

#clientDisplayButton {
  position:fixed;
  background-color: rgb(51,105,232);
  border: none;
  border-radius: 8px;
  width: 180px;
  height: 50px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  left: 200px;
  top: 15px;
  cursor: pointer;
}

#clientClrScreenButton {
  position:fixed;
  background-color: rgb(51,105,232);
  border: none;
  border-radius: 8px;
  width: 180px;
  height: 50px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  left: 405px;
  top: 15px;
  cursor: pointer;
}

#clientUpLoadButton {
  position:fixed;
  background-color: rgb(255,105,232);
  border: none;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  left: 705px;
  top: 15px;
  cursor: pointer;
}